name: Run Test Suites

on:
  push:
    branches:
      - main

jobs:
  full_test:
    runs-on: ubuntu-latest

    services:
      selenium:
        image: selenium/standalone-chrome:${{ github.event.inputs.chrome }}latest
        options: --shm-size=4gb

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Cache Maven dependencies
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/*.xml') }}
          restore-keys: ${{ runner.os }}-maven-

      - name: Set ChromeOptions for Selenide
        run: mvn -X test -Dchromeoptions.args="--headless,--no-sandbox,--disable-extensions,--disable-dev-shm-usage,--user-agent=Chrome/116.0.5845.9,\"intl.accept_languages=en-US,en,es\""
