name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16  # Specify Node.js version 16

      - name: Set up Java
        uses: actions/setup-java@v2.5.1
        with:
          java-version: 20  # Specify the desired Java distribution version

      - name: Build with Maven
        run: mvn clean install

      - name: Run Tests
        run: mvn -B package --file pom.xml test
